registry=https://pkgs.dev.azure.com/irobustdevopsdemo/ScrumExample/_packaging/DemoFeed/npm/registry/ 
always-auth=true
; begin auth token 
//pkgs.dev.azure.com/irobustdevopsdemo/ScrumExample/_packaging/DemoFeed/npm/registry/:username=irobustdevopsdemo 
//pkgs.dev.azure.com/irobustdevopsdemo/ScrumExample/_packaging/DemoFeed/npm/registry/:_password=bnd3amJycnR5a3JwZ3JpYWt5a3R0dmtlaTRpaW9ieXpiZ2Fsbm8ycWdteGF2dWpmY3docQ== 
//pkgs.dev.azure.com/irobustdevopsdemo/ScrumExample/_packaging/DemoFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/irobustdevopsdemo/ScrumExample/_packaging/DemoFeed/npm/:username=irobustdevopsdemo 
//pkgs.dev.azure.com/irobustdevopsdemo/ScrumExample/_packaging/DemoFeed/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN] 
//pkgs.dev.azure.com/irobustdevopsdemo/ScrumExample/_packaging/DemoFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token